* {
    margin: 0;
      padding: 0;
      border: 0px;
      box-sizing: border-box;
      font-weight: 600;
      font-family: monospace, cursive;
      color: #000;
  }
  
  body {
    background-image: url(https://i.pinimg.com/564x/d1/97/04/d19704edc6c95eeea4847004cc9c006c.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .carrot > img {
    position: relative;
    top: -10px;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .carrot > img:hover{
    transform: 
    translateY(-2px)
    rotate(30deg);
    cursor: pointer;
  }

  .container {
    width: 350px;
    height: 520px;
    border: solid 6px #86A69D;
    border-radius: 10px;
    background-color: #dae4e1;
    padding: 30px 20px;
    border-bottom: solid 6px #617a73;
    
  }
  
  .display {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border-bottom: 3px solid #86A69D;
    background-color: #fff;
    text-align: right;
    padding: 25px;
    overflow: hidden;
    font-size: 20px;
  }
  
  .buttons {
    width: 100%;
    height: calc(100% - 115px);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .row{
    /* background-color: #fff; */
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 5%;
  }
  
  .row:first-child {
    gap: 5%;
  }
  
  .buttons button {
    border-radius: 10px;
    border-bottom: 3px solid #86A69D;
    flex-grow: 1;
  }
  .buttons button:hover {
    transform: scale( 110% )
    translateY(-2px);
  }
  
  .clear , .calculate {
    width: 50%;
    background-color: #b3cec7;
  }
  
  .longBtn {
    width: 28%;
  }
  
  .operator {
    background-color: rgb(154, 153, 153);
    color: #fff;
  }
  
  button:hover{
    cursor: pointer;
  }

  .hide{
    display: none;
  }

  .buttons > .isPressed {
    background-color: #86A69D;
}

/* 다크(당근) 모드 css */
body.carrotMode .carrot > img {
  filter:hue-rotate(-20deg)
  drop-shadow(0px 0px 10px rgb(236, 166, 120)) ;
}
body.carrotMode .display{
  border-bottom: 3px solid #f4a460;
  background-color: #fff5ec;
}
body.carrotMode .buttons button {
  border-bottom: 3px solid #f4a460;
}
body.carrotMode .operator {
  background-color: rgb(163, 151, 137);
  color: #fff;
}
body.carrotMode .container {
  border: solid 6px #f4a460;
  background-color: #ffffff;
  border-bottom: solid 6px #d4955d;
}
body.carrotMode .clear,body.carrotMode .calculate   {
  background-color: #f8dec2;
}
body.carrotMode .buttons > .isPressed {
  background-color: #f4a460;
}